<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>iKubelabs Starship</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Favicons -->
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-color text-color">
      <div class="d-flex justify-content-start" >
        <h5 class="my-0 mr-md-auto font-weight-normal">iKubelabs Starship</h5>
        <svg class="bi bi-geo" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 4a3 3 0 11-6 0 3 3 0 016 0z"/>
          <path d="M7.5 4h1v9a.5.5 0 01-1 0V4z"/>
          <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 01-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 11.212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 01.595.383z" clip-rule="evenodd"/>
        </svg>
      </div>
      

      <nav class="my-2 my-md-0 mr-md-3">
        <!-- <a class="p-2 text-color" href="#">Home</a> -->
        
      </nav>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Devops at the speed of light <img src="images/stars.png" height="30px" width="30px" alt=""></h1>
  <p class="lead"> Learn the 3 principles underpinning the Devops culture</p>
 
  <hr>

  
  


  <% if (envApp == "PRODUCTION") { %>
  <div class="alert alert-success" role="alert">
    <svg class="bi bi-check-circle" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z" clip-rule="evenodd"/>
    </svg>
    <br>
    <h2><%= envApp %></h2>
  </div>
   <div class="alert alert-info" role="alert">
      <img src="images/key.png" alt="" width="50rem">
      <p>rhc306FOu/EnLjBRHawpU8X6y8/LHeEFroXfH78e</p>
    </div>
  <% } else if (envApp == "STAGING"){ %>
    <div class=" alert alert-warning" role="alert">
      <h2>STAGING</h2>
    </div>
    <div class="alert alert-info" role="alert">
      <img src="images/key.png" alt="" width="50rem">
      <p>rhc306FOu/EnLjBRHawpU8X6y8/LHeEFroXfH78e</p>
    </div>
    <% } else { %>
      <div class="alert alert-danger" role="alert">
        <h4>Preprod Environment</h4>
      </div>
      <% } %>
      <div class="d-flex justify-content-center">
        <div class="mx-2">
          <svg class="bi bi-file-earmark-code" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z"/>
            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z"/>
            <path fill-rule="evenodd" d="M8.646 6.646a.5.5 0 01.708 0l2 2a.5.5 0 010 .708l-2 2a.5.5 0 01-.708-.708L10.293 9 8.646 7.354a.5.5 0 010-.708zm-1.292 0a.5.5 0 00-.708 0l-2 2a.5.5 0 000 .708l2 2a.5.5 0 00.708-.708L5.707 9l1.647-1.646a.5.5 0 000-.708z" clip-rule="evenodd"/>
          </svg>
        </div>
         <div>
          <h4>version: 1.0</h4>
         </div>
      </div>
  <hr>

</div>





<div class="container">
  <div class="card-deck mb-3 text-center">
    
    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">First Way</h2>
        <ul class="list-unstyled text-small">
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Enable Fast flow from left to right</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> From Development to Operations to the customer</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> To maximize flow the work needs to be visible</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Reduce the batch sizes and intervals of work</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Build in quality by preventing defects from being passed to downstream</div></li><br>
        </ul>
          <div class="card-body d-flex flex-column">
            <a class="btn btn-flat mt-auto" href="https://devopsinstitute.com/">Learn more</a>

          </div>
     
      </div>
    </div>


    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Second Way</h2>
        <ul class="list-unstyled text-small">
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Principles of feedbacks</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Constant feedbacks from right to left</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Create a safer and more resilient system of work</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Detect problems while they are cheaper, easier to fix</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Design a safe system of work where you can perform actions without fear</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Constantly test your design and assumptions</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Create automated build, integrations and test processes</div></li><br>
        </ul>
          <div class="card-body d-flex flex-column">
            <a class="btn btn-flat mt-auto" href="https://devopsinstitute.com/">Learn more</a>

          </div>
     
      </div>
    </div>

 
    <div class="card border-color" style="width: 18rem;">
      <img src="images/stars.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Third Way</h2>
        <ul class="list-unstyled text-small">
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Principles of continuous learning and experimentation</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Reserve time for the improvement of daily work</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Consistently introduce stress in your system to force continuous improvement</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Simulate and inject failures in production services (under controlled conditions to increase resiliency)</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Create continuous and dynamic system of learning</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Enable teams to rapidly adapt to ever changing environment</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> When accidents occurs, instead of looking for human errors, look how you can redesign the system to prevent the accident from happening</div></li><br>
          <li><div><img src="images/chevron.png" style="width: 2rem;"> Elevate the value of learning and be disciplined</div></li><br>
        </ul>
          <div class="card-body d-flex flex-column">
            <a class="btn btn-flat mt-auto" href="https://devopsinstitute.com/">Learn more</a>

          </div>
     
      </div>
    </div>
  
    
    
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
       
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
       
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          
        </ul>
      </div>
    </div>
  </footer>
</div>
        
      

       
          
</body>
</html>
